inicio.html {
  background-color: black;
  color: white;
}



#logo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;            
  top: 50%;                      
  left: 50%;                     
  transform: translate(-50%, -50%); 
}

#logo-superior {
  padding: 0%;
  margin: 0%;
}

a :visited {
  color: none;
}

#cuerpo {
  padding: 160px;
  
}

footer {
  display: flex;
  flex-direction: row;
  
}


#social {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

#presentacion {
  height: 1000px;
  background-image: url('../images/imagenes-del-fondo/soberbioBistroistro.jpg');
  background-size: cover;
  position: relative; 
}
